a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.close-btn,
.back-btn {
  font-size: 23px;
  cursor: pointer;
}
